// STYLE DU HERO BANNER
.banner-style {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .titre-header {
            width: 68vw;
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);// centre le titre horizontalement et verticalement
            img {
                width: 95%;
            }
        }
    }

// RESPONSIVE
    @media screen and (max-width: $mobile){
        .banner-style{
        width: 100%;
        height: 15rem;      
        }
    }
      
    @media screen and (min-width: $mobile) and (max-width: $laptop){
        .banner{
        width: 100%;
        height: 30rem;        
        }
    }
      

