.section_photos {
    display: flex;
    width: 100%;
    gap: 20px 37px;
    justify-content: center;
    margin: 0 auto;
    h3 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        margin: 60px 0;
    }
}
/********* bouton charger plus ********/

.btn {
  display: block;
  width: 272px;
  height: 50px;
  margin: 30px auto 30px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 8px 15px;
  font-family: "Space Mono", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  background-color: #d8d8d8;
  transition: transform 500ms ease-out, background-color 500ms ease-out;

  &:hover {
    transform: scale(1.05);
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
  }
}


/*****************cache le bouton de la ligthbox pour les petits ecrans****************/
//@media screen and (max-width: $tablet) {
//  .expand-icon {
//      display: none;
//  }
//}




  