// keyframe menu burger

@keyframes fade-in-top {
    from {
      opacity: 0;
      transform: translateY(-350px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

// keyframe Modale
@keyframes fadeInModal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }