/* Modale  (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color:$noir-semi-transparent;
    animation: fadeInModal 1s forwards;
    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $creme;
        margin: 5% auto;
        padding: 0px;
        border: 1px solid $gris-fonce;
        width: 597px;
        height: 769px;    
    }
}

.formulaire-contact {
    color: black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 20rem;
    label {
        font-family: 'poppins', sans-serif;
        font-size: 12px;
        font-weight: 500;
    }
    input {
        height: 40px;
        width: 263px;
        border-radius: 8px;
        border: solid $gris-medium 1px;
        padding-left: 10px;
    }
    input[type="submit"] {
        height: 50px;
        width: 270px;
        border-radius: 2px;
        background-color: $gris-medium;
        border: solid $gris-medium 2px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 14px;
    }
    input[type="submit"]:hover {
        background-color: $gris-medium
    }
    textarea {
        height: 142px;
        width: 263px;
        border-radius: 8px;
        border: solid $gris-medium 1px;
        padding: 10px;
    }
}
/* RESPONSIVE */
@media screen and (max-width: $tablet) {
    .modal-content {
        max-width: 20rem;
        height: auto;   
        }
        .modal img {
          height: 55px;
        }
  
    }