/* Menu */


@media screen and (max-width: 820px){


// logo
    .logo {
        margin-left: 10px;
        img {
            max-width: 200px;
        }
    }
   
    header{
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
        padding: 0 2vw;
    }
// menu de navigation
    nav {
        display: none;
        position: absolute;
        height: 100vh;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #E00000;
        z-index: 5;
        animation: slide-up 0.2s ease-in-out;
      
        &.active {                       // si le menu doit etre affiché
          display: block;
        }
      
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 65px;
      
          li {
            padding: 1.3em 0;
      
            a {
              color: #ffffff;
              font-size: 30px;
      
              &:hover {
                color: #ffffff;
              }
            }
          }
        }
      }
      
// modification des styles pour l'icone burger en forme de croix
      .burger {
        display: block;
        cursor: pointer;
        &.open {
            .line {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(6px, 0px);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, 0px);
                }
            }
        }
    }

    // le footer
    footer {
        ul {
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 1.8em 0;
      
          li {
            padding: 0.8em 0;
          }
        }
      }
      
}    

